{{ $card := site.Params.solitude.aside.my_card }}
{{ $bg := $card.background }}
<div class="card-widget card-info{{ with $bg }} card-info--has-bg{{ end }}"{{ with $bg }} style="--card-info-bg:url('{{ . | absURL }}')"{{ end }}>
  <div class="card-content">
    <div class="card-info-avatar is-center">
      <div class="top-group">
        <div class="sayhi" id="sayhi" data-solitude-action="changeWittyWord"></div>
      </div>
    </div>
    <div class="avatar">
      <img src="{{ $card.author.img | relURL }}" alt="{{ site.Params.author.name | default site.Title }}" loading="lazy" decoding="async">
      {{ with $card.author.emoji }}
        <span class="sticker sticker-emoji" aria-hidden="true">{{ . }}</span>
      {{ else }}
        {{ with $card.author.sticker }}
          <span class="sticker"><img class="sticker-img" src="{{ . | relURL }}" alt="" aria-hidden="true"></span>
        {{ end }}
      {{ end }}
    </div>
    <div class="description">{{ $card.content | safeHTML }}</div>
    <div class="bottom-group">
      <span class="left">
        <div class="name">{{ site.Params.author.name | default site.Title }}</div>
        <div class="desc">{{ $card.description | safeHTML }}</div>
      </span>
      <div class="social-icons is-center">
        {{ range $card.information }}
          <a class="social-icon" href="{{ .url }}" title="{{ .name }}"><i class="solitude {{ .icon }}"></i></a>
        {{ end }}
      </div>
    </div>
  </div>
</div>
