{{ $isArchives := or (eq (lower (or .Params.type .Layout)) "archives") (strings.Contains .RelPermalink "/archives/") }}
{{ $isCategoryTerm := eq .Data.Singular "category" }}
{{ $activeTerm := "" }}
{{ if $isCategoryTerm }}{{ $activeTerm = .Title }}{{ end }}
<div id="category-bar">
  <div class="category-bar-items{{ if .IsHome }} home{{ end }}" id="category-bar-items">
    <div class="category-bar-item{{ if .IsHome }} select{{ end }}" id="category-bar-home" data-default-order="0">
      <a href="{{ site.Home.RelPermalink }}"><span class="category-bar-link-icon"><i class="solitude fas fa-star"></i></span><span>{{ i18n "home" }}</span></a>
    </div>
    <div class="category-bar-item{{ if and $isArchives (not $isCategoryTerm) }} select{{ end }}" id="archives" data-default-order="1">
      <a href="{{ "/archives/" | relLangURL }}"><span class="category-bar-link-icon"><i class="solitude fas fa-book"></i></span><span>{{ i18n "allPosts" }}</span></a>
    </div>
    {{ range $index, $item := site.Taxonomies.categories.ByCount }}
      {{ $termId := $item.Page.Title }}
      <div class="category-bar-item{{ if eq $activeTerm $termId }} select{{ end }}" id="{{ $termId }}" data-default-order="{{ add $index 2 }}">
        <a href="{{ $item.Page.RelPermalink }}">{{ $item.Page.LinkTitle }}</a>
      </div>
    {{ end }}
  </div>
  <div class="category-bar-more-group">
    {{ if gt (len site.Taxonomies.categories) 5 }}
      <button class="category-bar-next" id="category-bar-next" type="button" data-solitude-action="scrollCategoryBarToRight" aria-label="更多分类"><i class="solitude fas fa-angles-right"></i></button>
    {{ end }}
    <a class="category-bar-more" href="{{ "/categories/" | relLangURL }}">{{ i18n "more" }}</a>
  </div>
</div>
