{{ define "main" }}
  {{ .Scratch.Set "scope" "list" }}

  {{/* Hero */}}
  {{ if site.Params.list.showHero | default false }}
    {{ $heroStyle := print "hero/" site.Params.list.heroStyle ".html" }}
    {{ if templates.Exists ( printf "partials/%s" $heroStyle ) }}
      {{ partial $heroStyle . }}
    {{ else }}
      {{ partial "hero/basic.html" . }}
    {{ end }}
  {{ end }}

  {{/* Header */}}
  <header>
    {{ if .Params.showBreadcrumbs | default (site.Params.list.showBreadcrumbs | default false) }}
      {{ partial "breadcrumbs.html" . }}
    {{ end }}
    <h1 class="mt-5 text-4xl font-extrabold text-neutral-900 dark:text-neutral">{{ .Title }}</h1>
    <div class="mt-1 mb-2 text-base text-neutral-500 dark:text-neutral-400 print:hidden">
      {{ partial "article-meta/list.html" (dict "context" . "scope" "single") }}
    </div>
  </header>

  {{/* Description */}}
  <section class="prose flex max-w-full flex-col dark:prose-invert mb-10">
    <div class="min-w-0 min-h-0 max-w-prose w-full">
      {{ .Content }}
    </div>
  </section>

  {{/* All posts grouped by year */}}
  {{ $allPages := .Site.RegularPages }}
  {{ if gt $allPages 0 }}
    <section class="space-y-10 w-full">
      {{ range (.Paginate ($allPages.GroupByDate "2006")).PageGroups }}
        <h2 class="mt-12 text-2xl font-bold text-neutral-700 first:mt-8 dark:text-neutral-300">
          {{ .Key }}
        </h2>
        {{ range .Pages }}
          {{ partial "article-link/simple.html" . }}
        {{ end }}
      {{ end }}
    </section>
  {{ else }}
    <section class="mt-10 prose dark:prose-invert">
      <p class="py-8 border-t">
        <em>{{ i18n "list.no_articles" | emojify }}</em>
      </p>
    </section>
  {{ end }}
  {{ partial "pagination.html" . }}
{{ end }}
