{{ define "main" }}
  {{ .Scratch.Set "scope" "single" }}
  <article class="resume-page">
    {{/* Header */}}
    <header id="single_header" class="mt-5 max-w-prose">
      <h1 class="mt-0 text-4xl font-extrabold text-neutral-900 dark:text-neutral">{{ .Title | emojify }}</h1>
    </header>

    {{/* Body */}}
    <section class="flex flex-col max-w-full mt-0 prose dark:prose-invert lg:flex-row">
      {{ $enableToc := .Params.showTableOfContents | default false }}
      {{ $showToc := and $enableToc (in .TableOfContents "<ul") }}
      {{ $topClass := cond (hasPrefix site.Params.header.layout "fixed") "lg:top-[140px]" "lg:top-10" }}
      {{ if $showToc }}
        <div class="order-first lg:ms-auto px-0 lg:order-last lg:ps-8 lg:max-w-2xs">
          <div class="toc ps-5 print:hidden lg:sticky {{ $topClass }}">
            {{ partial "toc.html" . }}
          </div>
        </div>
      {{ end }}

      <div class="min-w-0 min-h-0 max-w-fit">
        <div class="article-content max-w-prose mb-20">
          {{ .Content }}
        </div>
      </div>
    </section>
  </article>
{{ end }}
