{{ define "main" }}
  {{ $plural := .Data.Plural }}
  {{ $hideAside := in (slice "tags" "categories" "project_tags") $plural }}
  <main class="layout{{ if $hideAside }} hide-aside{{ end }}" id="content-inner">
    <div id="page">
      {{ if eq $plural "tags" }}
        {{ partial "pages/tags.html" . }}
      {{ else if eq $plural "project_tags" }}
        {{ partial "pages/project-tags.html" . }}
      {{ else }}
        {{ partial "pages/categories.html" . }}
      {{ end }}
    </div>
    {{ if not $hideAside }}{{ partial "aside.html" . }}{{ end }}
  </main>
{{ end }}
